.example-2 .btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    width: 300px;
    margin: auto;
    display: block;
    border: 2px solid #555;
    border-radius: 15px;
}

.example-2 .btn-tertiary:hover, .example-2 .btn-tertiary:focus {
    color: #888;
    border-color: #888
}

.example-2 .input-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

.example-2 .input-file + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer
}

.example-2 .input-file + .js-labelFile .icon:before {
    content: "\f093"
}

.example-2 .input-file + .js-labelFile.has-file .icon:before {
    content: "\f00c";
    color: #5AAC7B
}


.cssload-wrap {
    position: absolute;
    margin: 0 auto 0;
    left: 50%;
    margin-left: -202px;
    transform: rotateX(75deg);
}
.cssload-circle {
    position: absolute;
    float: left;
    border: 1px solid white;
    animation: bounce 0.895s infinite ease-in-out alternate;
    -o-animation: bounce 0.895s infinite ease-in-out alternate;
    -ms-animation: bounce 0.895s infinite ease-in-out alternate;
    -webkit-animation: bounce 0.895s infinite ease-in-out alternate;
    -moz-animation: bounce 0.895s infinite ease-in-out alternate;
    border-radius: 100%;
    background: transparent;
    top: -67px;
    left: -67px;
}
.cssload-circle:nth-child(1) {
    margin: 0 265px;
    width: 9px;
    height: 9px;
    animation-delay: 60ms;
    -o-animation-delay: 60ms;
    -ms-animation-delay: 60ms;
    -webkit-animation-delay: 60ms;
    -moz-animation-delay: 60ms;
    z-index: -1;
    border: 1px solid rgba(255,43,0,0.7);
}
.cssload-circle:nth-child(2) {
    margin: 0 261px;
    width: 18px;
    height: 18px;
    animation-delay: 120ms;
    -o-animation-delay: 120ms;
    -ms-animation-delay: 120ms;
    -webkit-animation-delay: 120ms;
    -moz-animation-delay: 120ms;
    z-index: -2;
    border: 1px solid rgba(255,85,0,0.7);
}
.cssload-circle:nth-child(3) {
    margin: 0 256px;
    width: 27px;
    height: 27px;
    animation-delay: 180ms;
    -o-animation-delay: 180ms;
    -ms-animation-delay: 180ms;
    -webkit-animation-delay: 180ms;
    -moz-animation-delay: 180ms;
    z-index: -3;
    border: 1px solid rgba(255,128,0,0.7);
}
.cssload-circle:nth-child(4) {
    margin: 0 252px;
    width: 36px;
    height: 36px;
    animation-delay: 240ms;
    -o-animation-delay: 240ms;
    -ms-animation-delay: 240ms;
    -webkit-animation-delay: 240ms;
    -moz-animation-delay: 240ms;
    z-index: -4;
    border: 1px solid rgba(255,170,0,0.7);
}
.cssload-circle:nth-child(5) {
    margin: 0 247px;
    width: 45px;
    height: 45px;
    animation-delay: 300ms;
    -o-animation-delay: 300ms;
    -ms-animation-delay: 300ms;
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    z-index: -5;
    border: 1px solid rgba(255,213,0,0.7);
}
.cssload-circle:nth-child(6) {
    margin: 0 243px;
    width: 54px;
    height: 54px;
    animation-delay: 360ms;
    -o-animation-delay: 360ms;
    -ms-animation-delay: 360ms;
    -webkit-animation-delay: 360ms;
    -moz-animation-delay: 360ms;
    z-index: -6;
    border: 1px solid rgba(255,255,0,0.7);
}
.cssload-circle:nth-child(7) {
    margin: 0 238px;
    width: 63px;
    height: 63px;
    animation-delay: 420ms;
    -o-animation-delay: 420ms;
    -ms-animation-delay: 420ms;
    -webkit-animation-delay: 420ms;
    -moz-animation-delay: 420ms;
    z-index: -7;
    border: 1px solid rgba(212,255,0,0.7);
}
.cssload-circle:nth-child(8) {
    margin: 0 234px;
    width: 72px;
    height: 72px;
    animation-delay: 480ms;
    -o-animation-delay: 480ms;
    -ms-animation-delay: 480ms;
    -webkit-animation-delay: 480ms;
    -moz-animation-delay: 480ms;
    z-index: -8;
    border: 1px solid rgba(170,255,0,0.7);
}
.cssload-circle:nth-child(9) {
    margin: 0 229px;
    width: 81px;
    height: 81px;
    animation-delay: 540ms;
    -o-animation-delay: 540ms;
    -ms-animation-delay: 540ms;
    -webkit-animation-delay: 540ms;
    -moz-animation-delay: 540ms;
    z-index: -9;
    border: 1px solid rgba(128,255,0,0.7);
}
.cssload-circle:nth-child(10) {
    margin: 0 225px;
    width: 90px;
    height: 90px;
    animation-delay: 600ms;
    -o-animation-delay: 600ms;
    -ms-animation-delay: 600ms;
    -webkit-animation-delay: 600ms;
    -moz-animation-delay: 600ms;
    z-index: -10;
    border: 1px solid rgba(85,255,0,0.7);
}
.cssload-circle:nth-child(11) {
    margin: 0 220px;
    width: 99px;
    height: 99px;
    animation-delay: 660ms;
    -o-animation-delay: 660ms;
    -ms-animation-delay: 660ms;
    -webkit-animation-delay: 660ms;
    -moz-animation-delay: 660ms;
    z-index: -11;
    border: 1px solid rgba(43,255,0,0.7);
}
.cssload-circle:nth-child(12) {
    margin: 0 216px;
    width: 108px;
    height: 108px;
    animation-delay: 720ms;
    -o-animation-delay: 720ms;
    -ms-animation-delay: 720ms;
    -webkit-animation-delay: 720ms;
    -moz-animation-delay: 720ms;
    z-index: -12;
    border: 1px solid rgba(0,255,0,0.7);
}
.cssload-circle:nth-child(13) {
    margin: 0 211px;
    width: 117px;
    height: 117px;
    animation-delay: 780ms;
    -o-animation-delay: 780ms;
    -ms-animation-delay: 780ms;
    -webkit-animation-delay: 780ms;
    -moz-animation-delay: 780ms;
    z-index: -13;
    border: 1px solid rgba(0,255,43,0.7);
}
.cssload-circle:nth-child(14) {
    margin: 0 207px;
    width: 126px;
    height: 126px;
    animation-delay: 840ms;
    -o-animation-delay: 840ms;
    -ms-animation-delay: 840ms;
    -webkit-animation-delay: 840ms;
    -moz-animation-delay: 840ms;
    z-index: -14;
    border: 1px solid rgba(0,255,85,0.7);
}
.cssload-circle:nth-child(15) {
    margin: 0 202px;
    width: 135px;
    height: 135px;
    animation-delay: 900ms;
    -o-animation-delay: 900ms;
    -ms-animation-delay: 900ms;
    -webkit-animation-delay: 900ms;
    -moz-animation-delay: 900ms;
    z-index: -15;
    border: 1px solid rgba(0,255,128,0.7);
}
.cssload-circle:nth-child(16) {
    margin: 0 198px;
    width: 144px;
    height: 144px;
    animation-delay: 960ms;
    -o-animation-delay: 960ms;
    -ms-animation-delay: 960ms;
    -webkit-animation-delay: 960ms;
    -moz-animation-delay: 960ms;
    z-index: -16;
    border: 1px solid rgba(0,255,170,0.7);
}
.cssload-circle:nth-child(17) {
    margin: 0 193px;
    width: 153px;
    height: 153px;
    animation-delay: 1020ms;
    -o-animation-delay: 1020ms;
    -ms-animation-delay: 1020ms;
    -webkit-animation-delay: 1020ms;
    -moz-animation-delay: 1020ms;
    z-index: -17;
    border: 1px solid rgba(0, 255, 213, 0.7);
}
.cssload-circle:nth-child(18) {
    margin: 0 189px;
    width: 162px;
    height: 162px;
    animation-delay: 1080ms;
    -o-animation-delay: 1080ms;
    -ms-animation-delay: 1080ms;
    -webkit-animation-delay: 1080ms;
    -moz-animation-delay: 1080ms;
    z-index: -18;
    border: 1px solid rgba(0, 255, 255, 0.7);
}
.cssload-circle:nth-child(19) {
    margin: 0 184px;
    width: 171px;
    height: 171px;
    animation-delay: 1140ms;
    -o-animation-delay: 1140ms;
    -ms-animation-delay: 1140ms;
    -webkit-animation-delay: 1140ms;
    -moz-animation-delay: 1140ms;
    z-index: -19;
    border: 1px solid rgba(0, 212, 255, 0.7);
}
.cssload-circle:nth-child(20) {
    margin: 0 180px;
    width: 180px;
    height: 180px;
    animation-delay: 1200ms;
    -o-animation-delay: 1200ms;
    -ms-animation-delay: 1200ms;
    -webkit-animation-delay: 1200ms;
    -moz-animation-delay: 1200ms;
    z-index: -20;
    border: 1px solid rgba(0, 170, 255, 0.7);
}
.cssload-circle:nth-child(21) {
    margin: 0 175px;
    width: 189px;
    height: 189px;
    animation-delay: 1260ms;
    -o-animation-delay: 1260ms;
    -ms-animation-delay: 1260ms;
    -webkit-animation-delay: 1260ms;
    -moz-animation-delay: 1260ms;
    z-index: -21;
    border: 1px solid rgba(0, 127, 255, 0.7);
}
.cssload-circle:nth-child(22) {
    margin: 0 171px;
    width: 198px;
    height: 198px;
    animation-delay: 1320ms;
    -o-animation-delay: 1320ms;
    -ms-animation-delay: 1320ms;
    -webkit-animation-delay: 1320ms;
    -moz-animation-delay: 1320ms;
    z-index: -22;
    border: 1px solid rgba(0, 85, 255, 0.7);
}
.cssload-circle:nth-child(23) {
    margin: 0 166px;
    width: 207px;
    height: 207px;
    animation-delay: 1380ms;
    -o-animation-delay: 1380ms;
    -ms-animation-delay: 1380ms;
    -webkit-animation-delay: 1380ms;
    -moz-animation-delay: 1380ms;
    z-index: -23;
    border: 1px solid rgba(0, 43, 255, 0.7);
}
.cssload-circle:nth-child(24) {
    margin: 0 162px;
    width: 216px;
    height: 216px;
    animation-delay: 1440ms;
    -o-animation-delay: 1440ms;
    -ms-animation-delay: 1440ms;
    -webkit-animation-delay: 1440ms;
    -moz-animation-delay: 1440ms;
    z-index: -24;
    border: 1px solid rgba(0, 0, 255, 0.7);
}
.cssload-circle:nth-child(25) {
    margin: 0 157px;
    width: 225px;
    height: 225px;
    animation-delay: 1500ms;
    -o-animation-delay: 1500ms;
    -ms-animation-delay: 1500ms;
    -webkit-animation-delay: 1500ms;
    -moz-animation-delay: 1500ms;
    z-index: -25;
    border: 1px solid rgba(42, 0, 255, 0.7);
}
.cssload-circle:nth-child(26) {
    margin: 0 153px;
    width: 234px;
    height: 234px;
    animation-delay: 1560ms;
    -o-animation-delay: 1560ms;
    -ms-animation-delay: 1560ms;
    -webkit-animation-delay: 1560ms;
    -moz-animation-delay: 1560ms;
    z-index: -26;
    border: 1px solid rgba(85, 0, 255, 0.7);
}
.cssload-circle:nth-child(27) {
    margin: 0 148px;
    width: 243px;
    height: 243px;
    animation-delay: 1620ms;
    -o-animation-delay: 1620ms;
    -ms-animation-delay: 1620ms;
    -webkit-animation-delay: 1620ms;
    -moz-animation-delay: 1620ms;
    z-index: -27;
    border: 1px solid rgba(127, 0, 255, 0.7);
}
.cssload-circle:nth-child(28) {
    margin: 0 144px;
    width: 252px;
    height: 252px;
    animation-delay: 1680ms;
    -o-animation-delay: 1680ms;
    -ms-animation-delay: 1680ms;
    -webkit-animation-delay: 1680ms;
    -moz-animation-delay: 1680ms;
    z-index: -28;
    border: 1px solid rgba(170, 0, 255, 0.7);
}
.cssload-circle:nth-child(29) {
    margin: 0 139px;
    width: 261px;
    height: 261px;
    animation-delay: 1740ms;
    -o-animation-delay: 1740ms;
    -ms-animation-delay: 1740ms;
    -webkit-animation-delay: 1740ms;
    -moz-animation-delay: 1740ms;
    z-index: -29;
    border: 1px solid rgba(212, 0, 255, 0.7);
}
.cssload-circle:nth-child(30) {
    margin: 0 135px;
    width: 270px;
    height: 270px;
    animation-delay: 1800ms;
    -o-animation-delay: 1800ms;
    -ms-animation-delay: 1800ms;
    -webkit-animation-delay: 1800ms;
    -moz-animation-delay: 1800ms;
    z-index: -30;
    border: 1px solid rgba(255, 0, 255, 0.7);
}


@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(90px);
    }
}

@-o-keyframes bounce {
    0% {
        -o-transform: translateY(0px);
    }
    100% {
        -o-transform: translateY(90px);
    }
}

@-ms-keyframes bounce {
    0% {
        -ms-transform: translateY(0px);
    }
    100% {
        -ms-transform: translateY(90px);
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(90px);
    }
}

@-moz-keyframes bounce {
    0% {
        -moz-transform: translateY(0px);
    }
    100% {
        -moz-transform: translateY(90px);
    }
}
