@import "@/shared/styles/colors";

.parent {
	.title {
		display: inline-block;
		font-size: clamp(27px, 3vw, 45px);
		width: 70%;
		font-weight:400;
		line-height: 2cap;
		letter-spacing: 0.02em;

		.ellipse {
			width: 120%;
			height: 120%;
		}

		b {
			color: $primary-color;
		}
	}

	.subTitle {
		font-size: clamp(14px, 1vw, 18px);
		line-height: 1.8cap;
	}
}

@media (max-width: 1300px) {
	.parent {
		.title {
			width: 100%;
		}
	}
}
