@import "@/shared/styles/colors";

.parent {
	.title {
		display: inline-block;
		font-size: max(27px, min(45px, 3vw));
		width: 70%;
		font-weight:400;
		line-height: 2cap;
		letter-spacing: 0.02em;

		.ellipse {
			width: 120%;
			height: 120%;
		}

		b {
			color: $primary-color;
		}
	}

	.subTitle {
		font-size: max(14px, min(18px, 1vw));
		line-height: 1.8cap;
	}
}

@media (max-width: 1300px) {
	.parent {
		.title {
			width: 100%;
		}
	}
}
