@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Menlo';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo Regular'), url(/fonts/Menlo/Menlo-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Preahvihear';
  font-style: normal;
  font-weight: normal;
  src: local('Preahvihear'), url(/fonts/Preahvihear/Preahvihear-Regular.ttf) format('truetype');
}
