@import "./design-tokens/colors.scss";

.parent {
	background-color: $background-color;
	font-family: "Menlo", monospace;
	color: $primary-color;
	display: flex;
	width: 100vw;
	align-items: center;
	min-height: 100vh;
	height: 100%;
	padding: 75px min(150px, 10vw);
	font-size: max(min(28px, 4vw), 18px);

	a {
		color: $primary-color;

		&:hover {
			color: blue;
		}
	}

	.container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		h1 {
			line-height: 1;
			margin: 0;
			font-size: 2em;

			a {
				font-weight: 800;
				font-family: "Poppins", sans-serif;
				text-decoration: none;

				&:hover {
					color: $primary-color;
				}
			}
		}

		p {
			line-height: 1.875em;
		}

		span {
			font-size: min(4vw, 17px);
		}

		.vpnLogo {
			margin-top: 50px;
			display: flex;
			justify-content: center;

		}

		p {
			color: $primary-color;
			font-size: 1em;
		}
	}
}

.glitch {
	color: $primary-color;
	font-family: "Poppins", sans-serif;
	font-size: min(7vw, 50px);
	max-font-size: 50px;
	position: relative;
	width: fit-content;
	display: flex;
	gap: 25px;
	align-items: center;

	& > a {
		text-decoration: none;
	}
}

@keyframes noise-anim {
	$steps: 20;
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			clip: rect(random(100)+px, 9999px, random(100)+px, 0);
		}
	}
}

.glitch:after {
	content: attr(data-text);
	position: absolute;
	left: 2px;
	text-shadow: -1px 0 red;
	top: 0;
	color: $primary-color;
	background: $background-color;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim 5s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
	$steps: 2;
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			clip: rect(random(100)+px, 999px, random(100)+px, 0);
		}
	}
}

.glitch:before {
	content: attr(data-text);
	position: absolute;
	left: -2px;
	text-shadow: 1px 0 blue;
	top: 0;
	color: $primary-color;
	background: $background-color;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim-2 7s infinite linear alternate-reverse;
}
